.categoria {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.categoria.frontend {
    background-color: #add8e6;
}

.categoria.backend {
    background-color: hsl(120, 32%, 52%);
}

.video-actions {
    display: flex;
    margin-top: 10px;
    gap: 120px;


}

.icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
}

