.video-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.video-actions {
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.button.delete-button {
    background-color: #dc3545;
}

.button.edit-button {
    background-color: #28a745;
}

.button i {
    margin-right: 5px;
}

